
<nav class="d-flex fixed-top justify-content-between align-items-center p-2">

  
  <div class="d-flex">
    <h3 class="mb-0"><a href="">Movies</a> </h3>

    <ul class="list-unstyled ms-4 mb-0 align-items-center d-flex justify-content-around">
      <li>
        <a  routerLink="/home" class="mx-2">Home</a>
      </li>
      <li>
        <a  routerLink="/about" class="mx-2">About</a>
      </li>
      <li>
        <a  routerLink="/gallery" class="mx-2">Gallery</a>
      </li>
      <li>
        <a  routerLink="/movies" class="mx-2">Movies</a>
      </li>
      <li>
        <a  routerLink="/tv" class="mx-2">TV</a>
      </li>
      <li>
        <a  routerLink="/contact" class="mx-2">Contacts</a>
      </li>
    </ul>
  </div>


  <div class="d-flex">
    <div class="social-media">
      <i class="fab mx-2 fa-facebook"></i>
      <i class="fab mx-2 fa-instgram"></i>
      <i class="fab mx-2 fa-youtube"></i>
      <i class="fab mx-2 fa-spotify"></i>
      <i class="fab mx-2 fa-xbox"></i>
    </div>

    <ul class="list-unstyled mb-0 d-flex justify-content-around">
      <li class="mx-2">
        <a  routerLink="/login">Login</a>
      </li>
      <li class="mx-2">
        <a routerLink="/register">Register</a>
      </li>
      <li class="mx-2">
        <a routerLink="/logout">LogOut</a>
      </li>
    </ul>
  </div>
  
</nav>